[Unit]
Description=SageMic MQTT Audio Scan & Send
After=network.target

[Service]
Type=oneshot
User= # ADD HERE!

ExecStart= # /path/to/venv/bin/python /path/to/sagemic_scansend.py --config /path/to/config.yaml
WorkingDirectory= # /path/to/repo
